.coin-icon {
    height: 35px;
    float: right;
}

.coins-scroll {
    height: calc(100vh - 250px);
    overflow-y: scroll;
}

.badge {
    font-size: 14px !important;
}

.list-group-item {
    cursor: pointer;
}